// Holds the variables shared across the pages

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$cormorant: 'Cormorant Garamond', serif;

$silver-pink: #d3ab9eff;
$baby-pink: #eac9c1ff;
$champagne-pink: #ebd8d0ff;
$snow: #fffbffff;
$white: #fefeffff;
$eerie-black: #131515ff;
$jet: #2b2c28ff;
