@use "../components/variables";
@use "../components/mixins";
@use "../components/clearfix";
@use "../components/navigation";
@use "../components/custom";
@use "../main.scss";

@media screen {
    
  main.page-content {
    width: 100%;
    flex-grow: 0;
  }

  .commercial-section {
    width: 100%;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

    div.inner {
      position: sticky;
      left: 0px;
      width: 100%;
    }
    .inner.photo-container {
      width: 100%;
      min-height: 320px;
      max-height: 480px;

      flex-grow: 1;

      .photo-list {
        max-width: 100%;
        height: 100%;
        padding: .5rem;
        overflow-x: auto;

        background-color: variables.$snow;

        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        .photo-frame {
          display: inline-block;
          height: 100%;

          .photo {
            display: block;
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }

  @media (min-width: 678px){
  }

}